<div class="cards" *ngIf="details">
    <div class="contact">Details</div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{details.name}}</td>
            <td>{{details.description}}</td>
            <td>{{details.price}}</td>
            <td><img src="{{details.image}}" height="200" width="200" /></td>

        </tr>
    </table>
    <hr>
</div>
<div class="flex">
    <button class="btn btn-success" [routerLink]="['/']"> Go Back</button>
    <button class="btn btn-success" [routerLink]="['/details', numId + 1]" (click)="next(details.id)"> View next of
        the list</button>
</div>