<button class="btn btn-primary" (click)="open(content)">Add New Inventory</button>
<br>
<div class="center">
    <div class="columns" *ngFor="let item of inventoryItems">
        <ul class="price">
            <li class="header">Item Name: {{item.name}} </li>
            <li class="header"><img *ngIf="item.image!=''" src="{{item.image}}" height="200" width="200" />
            <li class="grey">Price: {{item.price}}</li>
            <li class="grey flex">
                <a [routerLink]="['/details', item.id]" class="button">See Details</a>
                <a (click)="open(content, item)" class="button">Edit</a>
            </li>
        </ul>
    </div>
</div>
<ng-template #content let-close="close" let-dismiss="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a new inventory item</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click'); clear()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form [formGroup]="inventoryForm" (ngSubmit)="saveData(inventoryForm.value)">
                <div class="form-group">
                    <label for="email">Name:*</label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                        placeholder="Enter Name of Inventory" name="name">
                </div>
                <div class="form-group">
                    <label for="pwd">Description:*</label>
                    <input formControlName="description" type="text" class="form-control" id="des"
                        placeholder="Enter Description of Inventory" name="des" value=''>
                </div>
                <div class="form-group">
                    <label for="pwd">Price:*</label>
                    <input formControlName="price" type="text" class="form-control" id="price"
                        placeholder="Enter Price of Inventory" name="price" value="">
                </div>
                <div class="form-group">
                    <label for="pwd">Upload Image (optional):</label> <br>
                    <span *ngIf="url"> <img [src]="url" height="200" value="" name="url"> <br />
                    </span>
                    <input type='file' id="price" (change)="onSelectFile($event)">
                </div>
                <button *ngIf="id ===''" type="submit" [disabled]="!inventoryForm.valid"
                    class="btn btn-outline-dark">Save</button>
                <button *ngIf="id !=''" type="button" (click)="saveEdit(inventoryForm.value)" [disabled]="!inventoryForm.valid"
                    class="btn btn-outline-dark">Save Edit</button>

            </form>
        </div>
    </div>
</ng-template>